* {
    box-sizing: border-box;
}

.conteiner-blok {
    background-color: yellow;
    width: 1200px;

    padding: 50px 100px;

    margin: 100px auto;
    /* отспуп между блокаими  */

    text-align: center;
    /* text-align это отцинровака текста  */

    border-radius: 1200p
    x;
}
.conteiner-blok{ font-size: 0;}
.item{
    display: inline-block;
background-color: chartreuse;
width: 100px;
height: 100px;
margin: 20px;
font-size: 20px;
text-align: right;
border-radius: 20px;
border: 4px solid black;
/* делает оконтовку */
/* border: 4px;
border-style: dotted;
border-color: blueviolet black; */
}