* {
    box-sizing: border-box;
}

body {
    background-color: #6aa6b447;
}

.catamaran-uniquifier {
    font-family: "Catamaran", sans-serif;

}



.inter-uniquifier {
    font-family: "Inter", sans-serif;
}

.text {
    font-family: IBM Plex Sans;
    font-size: 48px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: -0.5px;
    text-align: left;
    display: inline-block;
}

.text1 {
    font-family: IBM Plex Sans;
    font-size: 48px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: -0.5px;
    text-align: left;
    display: inline-block;
}

.text3 {
    font-family: IBM Plex Sans;
    text-align: left;
    margin-top: 10px;
    max-width: 695px;
    color: rgba(43, 41, 45, 1);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 50px;
}

.icon-block{
    background-color: rgb(255, 85, 85);
}

.cards {
   min-width: 230px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    float: left;
    overflow: hidden;
    padding: 58px 0 122px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.icons{
   text-align: center;
    padding-top: 50px;
    display: flex;  
      padding: 0 10px;
}

.icons2{
    text-align: center;
     padding-top: 50px;
     display: flex;  
       padding: 0 10px;
       margin-left: 80px;
 }

 .icons3{
    text-align: center;
     padding-top: 50px;
     display: flex;  
       padding: 0 10px;
       margin-left: 50px;
 }
.foto0{
    width: 40px;
    height: 40px;
   border-radius: 100%;
 align-items: center;
 background-color: aqua;
}

.foto5{
    width: 40px;
    height: 40px;
   border-radius: 100%;
 align-items: center;
 background-color: aqua;
}
.foto6{
    width: 40px;
    height: 40px;
   border-radius: 100%;
 align-items: center;
 background-color: blanchedalmond;
}
.foto7{
    width: 40px;
    height: 40px;
   border-radius: 100%;
 align-items: center;
 background-color: rgb(255, 0, 255);
}
.foto{
    width: 40px;
    height: 40px;
   border-radius: 100%;
 align-items: center;
 background-color: rgb(255, 157, 0);
}
.foto3{
    width: 40px;
    height: 40px;
   border-radius: 100%;
 align-items: center;
 background-color: rgb(162, 0, 255);
}
.foto5{
    width: 40px;
    height: 40px;
   border-radius: 100%;
 align-items: center;
 background-color: aqua;
}
.foto5{
    width: 40px;
    height: 40px;
   border-radius: 100%;
 align-items: center;
 background-color: rgb(234, 255, 0);
}
.icon-block{
    width: 50px;
    height: 50px;
   border-radius: 100%;
   overflow: hidden;
   padding: 3px 0;
  align-items: center;
  margin-left: 15px;
 border: 2px solid blueviolet;
}

.icon-block:first-child{
    margin-left: 0;
}



h4 {

    text-align: center;

}

p {

    text-align: center;
}


.d-flex{
    margin-top: 15px;
    max-width: 104px;
    max-height: 108px;
    border-radius: 100%;
    border: 3px solid rgb(201, 201, 201);


}



