
*{
    box-sizing: border-box;
}



body{  
    font-family:  "Inter", "sans-serif" ;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-variation-settings:
        "slnt" 0;
        background-color: #F6F5F5;
       margin: 0px;
    }

button{
    border: none;
    background-color: #fff;
}

.container{
    width: 360px;
    height:950px ;
    margin: 100px auto;
    border-radius: 20px;
    background-color: #FFF; 
    padding: 56px 40px 40px 10px;

}

form {
    background-color: #adabab;
}
.container2{
    width: 316px;
    height: 20px;
    margin: 44px auto;
    border-radius: 12px;
    background-color: rgba(239, 239, 239, 1); 
    padding: 17px 24px 44px 24px;
}

h1{font-weight: 600;}


.Burger{ font-weight: 500;
    color:rgba(0, 48, 73, 1) ;
    text-align: left;
}


.menu-position{
    padding: auto;
    display: inline-block;
    margin: 100px -10px 0px -10;
}
.position-img{
   
    width: 74px;
    height: 74px; 
    border-radius: 12px;
    
  }
.position-title{
    padding-left: 10px;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    display: inline-block;
}

.position-title2{
    padding-left: 10px;
    color: rgba(196, 196, 196, 1);
    font-weight: 400;
    display: inline-block;

}

.position-img3{
    display: inline-block;
}

.title3{
    display: inline-block
}
.position-title3{
   
       color: rgba(0, 0, 0, 1);
       font-weight: 500;
      display: inline-block;
      text-align: right;
     

   }


.position-title4{

       color: rgba(214, 40, 40, 1);
       font-weight: 400;
 
  display: inline-block;
      
}

.position-title5
{display: inline-block;
    text-align: right;
   padding-top: 20px;


}

.menu-position3{
    display: inline-block;
}

.position-img3{ display: inline-block;}



    
