*{
    box-sizing: border-box;
}
 body{font-family: "Nunito Sans", "sans-serif";
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: white;
    position: relative;
    padding-bottom: 45px;
}
body::after{
    content: "";
    display: block;
    position: absolute;
    width: 118px;
    top: 0;
    bottom: 0;
    left: 13%;
    background-color: rgba(249, 249, 249, 1);
    ;
    z-index: -1;
}
.container{
    width: 82%;
    margin: 0 auto;
}
/* header */
header{
    padding: 55px 0;
    

}
 header.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
 } 

 .logo:hover{
    opacity: 0.8; 
 }
 nav a{
    display: inline-block;
    position: relative;
    color: #000;
    margin-right: 35px;
    font-size: 19px;
     line-height: 120%;
     font-weight: 400px;
     letter-spacing: 1px;
     font-family: "Nunito Sans"
 }
nav a:last-child{
    margin-right: 0;
}
nav a::after{  
    font-weight: 700;
    width: 100%;
   content:"" ;
   display: none;
   border-radius: 100%;
   background-color: orange ;
    position: absolute;
    margin: 0 56px;
   bottom: -16px;
   

}

nav a.active::after,
nav a.hover::after{
    display: block;
}

.search-block input{
   font-size: 19px;
   font-weight: 400px;
   line-height: 120%;
   letter-spacing: 1px;
   color: #000;
   border: none;
   padding: 0 16px;
}

.search-block button{
    background-color: transparent;
    border: none;
}
.search-block input:focus-visible{
    outline: none;
}
/* .content */

.content{
    padding: 110px 0 50px 0;

}
.content .container{
    display: flex;
    justify-content: space-between;
}

.image-block{
    width: 35%;  
}
.image-block img{
    width: 130%;
    margin: 40px 0;
    height:90%;
}
.text-container{
    width: 100%;
    margin-left: 10%;
}
.text-block{
padding-right: 40px; 
margin-left: 89px;
padding-right: 30px;
border-right: 1px solad #333;
margin-bottom: 32px;
}



.text-block h2{
    position: relative;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 1px;
    color: #f2994A;
    margin-bottom: 10px;
    width: 100%;
}
.text-block h2::after{
    content:"+";
    position: absolute;
    right: 0;
    color: #3F9AB7;
}

.text-block h1{
    font-size: 65px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 1px;
    margin-bottom: 70px;
}
.text-block p{
    padding-top: 24px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 1px;
   position: relative;
}

.text-block p::before{
    content:"" ;
    display: block;
    border-radius: 4px;
    background-color: #f2994A;
    width: 188px;
    height: 6px;
    position: absolute;
    top: 0;
    font-family: Robot;
}
/* social */
.social{
    display: flex;
    justify-content: space-between;  
    m

}

.video{
 display: flex;
 align-items: center;
 margin:  0 0 0 100px;
}

.video button{

    width: 85px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: none;
    background-color:#3F9AB7;
    background-repeat: 100%;
    margin-right: 40px;
    border-radius: 100%;

}

.video button:hover{
    background-color:#f2994A ;

}

.video span{
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 1px; 
}

.social-link a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    text-decoration: none;
    background-color:transparent;
    border-radius: 100%;
    position: relative;
    text-align: center;
    /* right: -10px; */
    margin-bottom: 8px;
}

.social-link a:hover{
    background-color: #f2994A;
    
}

.social-link a:hover .social-link-img-hover{
  display:  block;
}

.social-link a:hover .social-link-img{
    display:  none;
  }

  /* client */
  .client{
    background-color: #3F9AB7;
    padding: 0px 0;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.client-image{
    width: 55px;
    height: 55px;
    border-radius: 100%;  

}


.image1{
margin-left: 5px;



}

.image2{
    margin-left: -10px;

    }
    

.image3{ 
    margin-left: -20px;


     }
   
    

.client-info{
    color: #fff;

}

.client-info strong{
    font-size: 24px;
    font-weight: 700
}

.client-info  span{
    font-size: 20px;
    font-weight: 400
}






