* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
   margin: 0 auto;
}

.bg-image {
    background-image: url(./15img/Rectangle\ 1.png);
    width:  100%;
    height:  auto;
    margin: 0 auto;

}

.w {
      
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.container {
    display: flex;
    background-position: right top;

}

.image {
     width: 35px;
     height: 35px;
      margin-right: 10px;
    background-color: transparent;
    border: none;
}

.image:hover {
    background-color: blue;
}

header {
    padding-top: 20px;
    display: flex;
    align-items:normal;
    justify-content: space-between;

}
.n{
     margin-left: 30px;
}

.n:hover {
    background-color: red;
   
}

.Friday {

    padding-left: 40px;
    width: 213px;
    height: 44px;
    color: rgb(255, 255, 255);
}

.text {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    background-position: left top;
}

.Drama {
    margin-top: 90px;
    font-size: 500;
    color: white;
    display: flex;

}

h4 {
    padding-left: 30px;
}

.Stranger {
    font-size: 800;
    color: #ffffff;
    margin-top: 30px;
    margin-left: 28px;
}

.text2 {
    width: 847px;
    height: 47px;
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
    color: white;
}

p {
    padding-left: 30px;
}

p:nth-child(1) {
    padding: 0;
}

.color {
    color: #a4a4a4;
    padding: 0;
}

.text3 {
    font-size: 400;
    color: #a4a4a4;
    width: 570px;
    margin-left: 30px;
}

.stars {
    margin-left: 30px;
    width: 150px;
    color: #ffffff;
   
}

.stars:hover{
   color: yellow; 
}



.STREAM {
    width: 272px;
    height: 64px;
    background-color: red;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    text-align: center;
}

.STREAM:hover{
    background-color: black;
}

.text4 {
    font-size: medium;
    margin-left: 50px;
    color: #ffffff;

}

.EPISODES {
    width: 272px;
    height: 64px;
    background-color: transparent;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    border: 3px solid white;
}

.EPISODES:hover{
    background-color: #ff0000;
}

.text5 {
    color: #ffffff;
    font-size: medium;
    margin-left: 65px;
}

.image1 {
    display: flex;
    align-items: center;
}

.POPULAR {
    width: 342px;
    color: #ffffff;
    margin-top: 40px;
    margin-left: 30px;
}

.img3 {
    margin-top: 30px;
    margin-left: 30px;

}

.img4 {
    padding-left: 50px;
}

.image4 {
    border: 1px solid rgb(128, 128, 128);
    color: rgb(154, 154, 154);
    background-color: transparent;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-top: 0px;
    margin-left: 950px;
}

.image4:hover{
    background-color: white;
}


.image5 {
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.image5:hover{
    background-color: red;
}

.container2 {
    padding-bottom: 40px;
    width: 144px;
    height: 66px;
    margin-left: 1250px;
    position: absolute;
    background-color: #a4a4a4;
}

.container3 {
    padding-bottom: 40px;
    width: 30px;
    height: 66px;
    margin-left: 1220px;
    color: white;
    font-size: medium;
    background-color: #ff0000;
    position: fixeds;
    display: flex;
  
   
}

.text6 {
    padding-top: -200px;
   margin-right: 50px;
}