*{box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
 
    // font-family: "Bebas Neue", sans-serif; 
    //   font-style:normal ;
    margin: 0 auto; 

}

$main-color:rgba(255, 255, 255, 1);
$main-color-second: rgba(72, 85, 91, 1);
$color-third:rgba(0, 164, 229, 1);






.top-block{
  background-image: url("./21img/bg.png");
  margin: 0 auto;
  height: 100vh;
  z-index: -2;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: top center; 
 





@keyframes pro {
  0%{
    background-color: transparent;
  }
15%{
  background-color: black;
;
}
50%{
  background-color: $color-third;
  padding-top: 100px;

}
70%{
  padding-top: 150px;
  border: 3px solid black;
}

  
}
 .logo{
   margin: 0 auto;
   align-items: center;
   display: grid;
   padding-top: 41px;
  //  animation-name: pro;
  //  animation-duration: 3s;
  //  animation-iteration-count: 2; 

  }

  h1{
 font-family: "Bebas Neue", sans-serif; 
font-size: 60px;
letter-spacing: 5.709374904632568px;
text-align: center;
color: $main-color;
padding-top: 380px;
margin: 0 auto;

  }
  .text1{
 
font-size: 16px;
line-height: 18.75px;
text-align: center;
color: $main-color;

  }
.text{
    padding-top: 150px;
    color: $main-color;
  
font-size: 11px;
line-height: 12.89px;
letter-spacing: 3.700000047683716px;
text-align: center;


  }
} 
.border{
  border-bottom: 1px  solid rgba(230, 230, 230, 1);

}
header{
  height: 30px;
  width: 60%;
  margin: 0 auto;
  .container{  margin-top: 10px;
   justify-content: space-between;
   display: grid;
   grid-template-columns: 30px auto ;
   
  }
  .content>a{
    text-decoration: none;
    font-size: 12px;
    line-height: 14.06px;
    letter-spacing: 1px;
     color: $main-color-second;
     padding-left: 20px;
  }
  .content>a:nth-child(2){
    color: $color-third;
  }

}


.container2{
  width: 60%;
  margin: 0 auto;
    // justify-content: space-between;
    // display: grid;

.tex{
  margin: 10px auto ;
  text-align: center;
  margin-bottom: 80px;

  h3{  
line-height: 21.09px;
letter-spacing: 2px;
color: $main-color-second;

}
.line{
width: 5%;
margin-left: 47.7%;
 border-bottom:2px solid $color-third;}

}
.block-all{
  display: flex;

.text-block{
 display: grid;
 grid-template-columns: 30vw;
 color: $main-color-second;
 
 .text1{
font-size: 20px;
line-height: 23.44px;
 span{
  color: $color-third;
 }

 }

 .text2{

font-size: 20px;
line-height: 23.44px;

text-align: left;

 }
}
}

.block-image-all{
  margin-left: 17px; margin-top:60px;
}
.block-image{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap:20px;



  .image-text{
    color: $main-color;
font-weight: 700;
font-size: 24px;
line-height: 29px;
position: absolute;
text-align: left;

  }
  .img{
    position: relative;
    z-index: -1;
  }
}
    }

    .container3{
      width: 60%;
      margin: 0 auto;
   
    

      .container-text2{  
         margin-top: 120px;
       display: grid;
        grid-template-columns: auto auto auto;


    

  


      .tex2{
        font-size: 18px;
        line-height: 21.09px;
        letter-spacing: 2px;
        color: $main-color-second;

      }
      
        .line2{
        width: 25%;
         border-bottom:2px solid $color-third;} 

        
            } .big-text{
          font-size: 11px;
         line-height: 19px;
         color: $main-color-second;
         padding-left: 100px;
         padding-right: 30px;
  

     
         }

 button{
          color: $main-color;
          background-color: $color-third;
          font-size: 13px;
          line-height: 15.23px;
           text-align: center;
           width: 150px;
           height: 40px;
           border:  none;
    
         }

      }


 .container4{
  width: 60%;
  margin: 0 auto;

  .icon-block{
      display: flex;
  }

  .icons{
    width: 295px;
    height: 330px;
    border: 1px solid  rgba(230, 230, 230, 1);
    margin-left: 40px;
    color: $main-color-second;
    margin-top: 120px;

  }
  .icons>img{
    padding-top: 40px;
  }
  .icons:nth-child(1),
 {
    margin-left: 0;
  }

 }     

 .bg{

  background-image: url(./21img/bg\ \(1\).png);
  margin: 0 auto;

height: 499px;
  z-index: -2;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;


 .text-bg{
font-size: 30px;
line-height: 36px;
text-align: center;
padding-top: 150px;
color: $main-color-second;
font-weight: 600;
 }
 button{
  width: 150px;
height: 40px;
background-color: $color-third;
color: $main-color;
font-size: 13px;
line-height: 15.23px;
border: none;
margin-left: 720px;
 }

 }

 .inp-block{

  margin: 0 auto;
  background-color: rgba(23, 24, 25, 1);
  ;
  height: 100px;

  
  .inp{
    width: 60%;
    margin: 0 auto;
    display: flex;
  }
  h3{
    color: $main-color;

    font-size: 22px;
    line-height: 25.78px;
  }
  input{
    width: 250px;
height: 40px;
left: 286px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
color: $main-color-second;
padding-left: 20px;

  }
  button{
    width: 150px;
height: 40px;
left: 535px;
gap: 0px;
opacity: 0px;
background-color: $color-third;
color: $main-color;
  }
 }
















